<div class="mt-5 mx-5 justify-center">
    <div class="flex justify-center">
        <div class="shadow-md w-2/3">
            <div class="mt-5 flex flex-col">
                
                <div class="self-center text-4xl font-bold">Home</div>
                
                <div class="mt-6 self-center text-2xl">
                    {{authenticated ?
                        "Welcome " + username : 
                        "Please log in to view your chatrooms."
                    }}
                </div>

                <button *ngIf="authenticated" 
                class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mx-3 mt-5 self-center"
                routerLink="/create-room"
                >
                    Create a chatroom
                </button>

                <div *ngIf="authenticated" class="flex justify-evenly text-xl font-bold mt-5 mb-5 ">
                    <button value="created"
                    class="home-btn border-amber-600 border-b-4 bg-blue-500 hover:bg-blue-600 text-white font-bold py-1 px-4 rounded mx-3 mt-5 self-center">Created rooms</button>
                    <button value="joined"
                    class="home-btn border-amber-600 border-b-4 bg-blue-500 hover:bg-blue-600 text-white font-bold py-1 px-4 rounded mx-3 mt-5 self-center">Joined rooms</button>
                </div>

                <app-pagination *ngIf="currentList === 'created'" pageType="created"></app-pagination>
                <app-pagination *ngIf="currentList === 'joined'" pageType="joined"></app-pagination>
            </div>
        </div>
    </div>
</div>