<div class="mt-5 mx-5 justify-center">
    <div class="flex justify-center">
        <div class="shadow-md w-2/3">
            <div class="mt-5 flex flex-col">
                <div class="self-center font-bold text-3xl mb-4">{{url}}</div>
                <form 
                class="flex flex-col self-center w-96" 
                (ngSubmit)="url === 'Login' ? login($event) : register($event)"
                >
                    <div class="relative mb-4" data-te-input-wrapper-init>
                        
                        <div class="flex justify-between">
                            <label
                            for="username"
                            class="flex flex-col justify-center text-xl"
                            >
                            Username
                            </label>

                            <input 
                            type="text" 
                            class="border-solid border-2 p-2"
                            id="username"
                            placeholder="Enter username here"
                            [(ngModel)]="account.username"
                            name="username"
                            required
                            />
                        </div>
                        
                        
                        <!-- Errors -->
                        <div *ngIf="url === 'Register'" [hidden]="
                        account.username.length > 2 || account.username.length == 0"
                        class="flex justify-center"
                        >Please enter at least 3 characters</div>

                        <div *ngIf="url === 'Register'" [hidden]="
                        checkValid(account.username) || account.username.length == 0"
                        class="flex justify-center"
                        >Please enter a valid character</div>
                    </div>

                    <div class="relative mb-4" data-te-input-wrapper-init>
                        
                        <div class="flex justify-between">
                            <label
                            for="password"
                            class="flex flex-col justify-center text-xl"
                            >
                            Password
                            </label>

                            <input 
                            type="password" 
                            class="border-solid border-2 p-2"
                            id="password"
                            placeholder="Enter password here"
                            [(ngModel)]="account.password"
                            name="password"
                            required
                            />
                        </div>
                        

                        <!-- Errors -->
                        <div *ngIf="url === 'Register'" [hidden]="
                        account.password.length > 2 || account.password.length === 0"
                        class="flex justify-center"
                        >Please enter at least 3 characters</div>

                        <div *ngIf="url === 'Register'" [hidden]="
                        checkValid(account.password) || account.password.length === 0"
                        class="flex justify-center"
                        >Please enter a valid character</div>
                    </div>

                    <button 
                    class="px-4 py-2 bg-blue-500 text-white rounded-md shadow-md mb-4
                    hover:bg-blue-600 transition duration-200 ease-in-out font-bold"
                    type="submit"
                    >
                        {{url}}
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>