<button (click)="getTest()">
    Get test
</button>


<div class="mt-5 mx-5 justify-center">
    <div class="flex justify-center">
        <div class="shadow-md w-2/3">
            <div class="mt-5 flex flex-col">
                <div class="self-center font-bold text-3xl mb-4">Create a chatroom</div>
                
                <form class="flex flex-col self-center w-96" (ngSubmit)="createRoom($event)" >

                    <div class="relative mb-4" data-te-input-wrapper-init>
                        <div class="flex justify-between">
                            <label
                            for="room-name"
                            class="flex flex-col justify-center text-xl"
                            >
                            Room name: 
                            </label>

                            <input 
                            type="text" 
                            class="border-solid border-2 p-2"
                            id="room-name"
                            placeholder="Enter room name here"
                            [(ngModel)]="room.name"
                            name="room-name"
                            required
                            />
                        </div>

                        <!-- Errors -->
                        <div [hidden]="
                        room.name.length > 2 || room.name.length == 0"
                        class="flex justify-center"
                        >Please enter at least 3 characters.</div>

                        <div [hidden]="
                        room.name.length < 20"
                        class="flex justify-center"
                        >Please enter no more than 20 characters.</div>
                    </div>

                    <button 
                    class="px-4 py-2 bg-blue-500 text-white rounded-md shadow-md mb-4
                    hover:bg-blue-600 transition duration-200 ease-in-out font-bold"
                    type="submit"
                    >
                        Create
                    </button>

                </form>
            </div>

        </div>
    </div>
</div>