
<div class="flex justify-center w-full h-4/5 max-h-full">
    <div class="flex mt-20 justify-around max-h-full h-5/6 w-5/6 border-solid border-2">
        
        <!-- <div class="flex flex-col justify-between flex-1 max-w-full h-full max-h-full overflow-hidden"> -->
        <div class="flex flex-col max-w-full w-full">

            <div class="self-center">title</div>

            <!-- <div class="flex flex-col flex-1 justify-end overflow-y-scroll"> -->
            
                <!-- <div class="flex flex-col flex-1 overflow-hidden"> -->
                <div class="overflow-y-scroll">

                <div *ngFor="let message of messages"
                class="flex flex-col"
                >
                    <div>Messager</div>
                    <div>{{message}}</div>
                </div>
            </div>
            <!-- <textarea class="resize-none" rows="1" placeholder="Enter text here" required></textarea> -->
            <div class="flex">
                <div contenteditable class="flex-1"></div>
                <button>></button>
            </div>
            
        </div>
        <div class="flex-none">
            <div>Members</div>
            <div>
                <div *ngFor="let member of members">
                    {{member}}
                </div>
            </div>
        </div>
    </div>
</div>