
<div class="flex justify-center w-full h-4/5 max-h-full">
    <div class="flex mt-20 justify-around max-h-full h-5/6 w-5/6 border-solid border-2 rounded">
        <div class="flex flex-col max-w-full w-full">
            <div class="w-full flex justify-center text-2xl border-b-2 border-gray-400 border-solid">
                {{chatroom.name}}
            </div>
            <div class="overflow-y-scroll flex flex-col-reverse flex-1 px-4">
                <div *ngFor="let message of messages"
                class="flex flex-col"
                >
                    <div class="flex" 
                    [ngClass]="{ 'justify-end': message.username === username }">
                        <div class="font-bold text-xm">
                            {{message.username}}
                        </div>
                        <div class="text-xm">-{{message.localDateTime}}</div>
                    </div>
                    <div class="text-xl flex"
                    [ngClass]="{ 'justify-end': message.username === username }"
                    >{{message.message}}</div>
                </div>
            </div>

            <div class="flex">
                <div contenteditable class="flex-1 contenteditable" (keydown)="handleInputs($event)"></div>
                <button class="px-2 bg-blue-400 rounded"
                (click)="sendMessage()"
                >></button>
            </div>
        </div>
        <div class="border-l-2 border-solid border-gray-400 flex flex-col">
            <div class="w-full flex justify-center text-2xl border-b-2 border-l-2 border-gray-400 border-solid">
                Members
            </div>
            
            <div class="flex flex-col overflow-y-scroll">
                <div *ngFor="let member of members"
                class="self-center"
                >
                    {{member}}
                </div>
            </div>
        </div>
    </div>
</div>