
<div class="flex justify-between p-2  shadow-md">
    <div class="font-bold self-center text-2xl text-center text-blue-600 ">
        Chatroom
    </div>
    <div class="">
        <a class="btn" routerLink="/home">
            Home
        </a>
        <button class="btn" routerLink="/rooms">
            Rooms
        </button>
    </div>
    <div class="">
        <button class="btn" routerLink="/login">
            Login
        </button>
        <button class="btn" routerLink="/login">
            Register
        </button>
        <button class="btn" routerLink="/home">
            Logout
        </button>
    </div>
</div>