
<div class="flex justify-between p-2  shadow-md">
    <div class="font-bold self-center text-2xl text-center text-blue-600 ">
        Chatroom
    </div>
    <div class="self-center">
        <a class="btn" routerLink="/home">
            Home
        </a>
        <a class="btn" routerLink="/rooms">
            Rooms
        </a>
    </div>
    <div class="self-center">
        <a class="btn" routerLink="/login" *ngIf="!authenticated">
            Login
        </a>
        <a class="btn" routerLink="/register" *ngIf="!authenticated">
            Register
        </a>
        <a class="btn" routerLink="/home" *ngIf="authenticated">
            Logout
        </a>
    </div>
</div>