<div class="mt-5 mx-5 justify-center">
    <div class="flex justify-center">
        <div class="shadow-md w-2/3">
            <div class="mt-5 flex flex-col">
                
                <div class="self-center text-4xl font-bold">Home</div>
                
                <div class="mt-6 self-center text-2xl">
                    Currently active rooms
                </div>

                <div class="flex justify-center text-2xl font-bold mt-5 mb-5">List of created rooms</div>
                <div>
                    <div *ngFor="let room of getRooms()" class="flex justify-between px-10 py-2 mb-2">
                        <div class="self-center text-2xl font-bold">{{room.id}}</div>
                        <div class="self-center text-2xl">{{room.name}}</div>
                        <button
                        class="bg-blue-500 hover:bg-blue-600 text-white font-bold rounded px-2 py-2"
                        (click)="joinRoom($event)"
                        [value]="room.id"
                        >Join {{room.members && room.members || "?"}} others</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>